/* Set global styles */
body {
	background-color: #00ff2a;
	font-family: Arial, sans-serif;
	color: #000000;
}

/* Style the heading */
h1 {
	text-align: center;
	font-size: 36px;
	margin-top: 50px;
}

/* Style the image */
img {
	display: block;
	margin: 0 auto;
	max-width: 100%;
	height: auto;
}

/* Style the subheadings */
h2, h3 {
	font-size: 24px;
	margin-top: 30px;
	margin-bottom: 10px;
	color: #000000;
}

/* Style the paragraphs */
p {
	line-height: 1.5;
	margin-bottom: 20px;
}

/* Style the unordered list */
ul {
	list-style: none;
	padding: 0;
	margin: 0;
	margin-bottom: 20px;
}

/* Style the list items */
li {
	padding: 5px 10px;
	margin-bottom: 10px;
	border: 1px solid #ccc;
	border-radius: 5px;
	transition: background-color 0.3s ease;
}

/* Change the list item background color on hover */
li:hover {
	background-color: #f7f7f7;
}

/* Style the links */
a {
	color: #007bff;
	text-decoration: none;
	transition: color 0.3s ease;
}

/* Change the link color on hover */
a:hover {
	color: #0056b3;
}

